<article class="single_blog">
  <figure>
    <div class="blog_thumb">
      <div style="background: #fff;">
        {{ 'image' | placeholder_svg_tag }}
      </div>
    </div>
    <figcaption class="blog_content">
      <h4 class="post_title"><a href="blog-details.html">Libero lorem</a></h4>
      <div class="articles_date">
        <p>By <span>admin / July 16, 2019</span></p>
      </div>
      <p class="post_desc">Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu augue condimentum rhoncus praesent</p>
      <footer class="blog_footer">
        <a href="blog-details.html">Continue Reading</a>
        <p><i class="icon-message-circle"></i> <span>0</span></p>
      </footer>
    </figcaption>
  </figure>
</article>
