<!-- Single Product Start Here -->
<div class="single-makali-product">
  <div class="pro-img">
    <div>
      {{ product_item | placeholder_svg_tag: 'product-svg-image' }}
    </div>
  </div>
  <div class="pro-content">
    <h4 class="pro-title"><a href="#">Modern Eye Brush</a></h4>
    <p>
      <span class="price">$45.50</span>
      <span class="prev-price">$85.50</span>
    </p>
  </div>
</div>
<!-- Single Product End Here -->