<div class="icon__page">
  <div class="container">



    <i class="icon-activity"></i>
    <i class="icon-airplay"></i>
    <i class="icon-alert-circle"></i>
    <i class="icon-alert-octagon"></i>
    <i class="icon-alert-triangle"></i>
    <i class="icon-align-center"></i>
    <i class="icon-align-justify"></i>
    <i class="icon-align-left"></i>
    <i class="icon-align-right"></i>
    <i class="icon-anchor"></i>
    <i class="icon-aperture"></i>
    <i class="icon-archive"></i>

    <i class="icon-arrow-down"></i>
    <i class="icon-arrow-down-circle"></i>
    <i class="icon-arrow-down-left"></i>
    <i class="icon-arrow-down-right"></i>
    <i class="icon-arrow-left"></i>
    <i class="icon-arrow-left-circle"></i>
    <i class="icon-arrow-right"></i>
    <i class="icon-arrow-right-circle"></i>
    <i class="icon-arrow-up"></i>
    <i class="icon-arrow-up-circle"></i>
    <i class="icon-arrow-up-left"></i>
    <i class="icon-arrow-up-right"></i>

    <i class="icon-at-sign"></i>
    <i class="icon-award"></i>
    <i class="icon-bar-chart"></i>
    <i class="icon-bar-chart-2"></i>
    <i class="icon-battery"></i>
    <i class="icon-battery-charging"></i>
    <i class="icon-bell"></i>
    <i class="icon-bell-off"></i>
    <i class="icon-bluetooth"></i>
    <i class="icon-bold"></i>
    <i class="icon-book"></i>
    <i class="icon-book-open"></i>

    <i class="icon-bookmark"></i>
    <i class="icon-box"></i>
    <i class="icon-briefcase"></i>
    <i class="icon-calendar"></i>
    <i class="icon-camera"></i>
    <i class="icon-camera-off"></i>
    <i class="icon-cast"></i>
    <i class="icon-check"></i>
    <i class="icon-check-circle"></i>
    <i class="icon-check-square"></i>
    <i class="icon-chevron-down"></i>
    <i class="icon-chevron-left"></i>

    <i class="icon-chevron-right"></i>
    <i class="icon-chevron-up"></i>
    <i class="icon-chevrons-down"></i>
    <i class="icon-chevrons-left"></i>
    <i class="icon-chevrons-right"></i>
    <i class="icon-chevrons-up"></i>
    <i class="icon-chrome"></i>
    <i class="icon-circle"></i>
    <i class="icon-clipboard"></i>
    <i class="icon-clock"></i>
    <i class="icon-cloud"></i>
    <i class="icon-cloud-drizzle"></i>

    <i class="icon-cloud-lightning"></i>
    <i class="icon-cloud-off"></i>
    <i class="icon-cloud-rain"></i>
    <i class="icon-cloud-snow"></i>
    <i class="icon-code"></i>
    <i class="icon-codepen"></i>
    <i class="icon-command"></i>
    <i class="icon-compass"></i>
    <i class="icon-copy"></i>
    <i class="icon-corner-down-left"></i>
    <i class="icon-corner-down-right"></i>
    <i class="icon-corner-left-down"></i>

    <i class="icon-corner-left-up"></i>
    <i class="icon-corner-right-down"></i>
    <i class="icon-corner-right-up"></i>
    <i class="icon-corner-up-left"></i>
    <i class="icon-corner-up-right"></i>
    <i class="icon-cpu"></i>
    <i class="icon-credit-card"></i>
    <i class="icon-crop"></i>
    <i class="icon-crosshair"></i>
    <i class="icon-database"></i>
    <i class="icon-delete"></i>
    <i class="icon-disc"></i>

    <i class="icon-dollar-sign"></i>
    <i class="icon-download"></i>
    <i class="icon-download-cloud"></i>
    <i class="icon-droplet"></i>
    <i class="icon-edit"></i>
    <i class="icon-edit-2"></i>
    <i class="icon-edit-3"></i>
    <i class="icon-external-link"></i>
    <i class="icon-eye"></i>
    <i class="icon-eye-off"></i>
    <i class="icon-facebook"></i>
    <i class="icon-alert-circle"></i>

    <i class="icon-activity"></i>
    <i class="icon-airplay"></i>
    <i class="icon-alert-circle"></i>
    <i class="icon-activity"></i>
    <i class="icon-airplay"></i>
    <i class="icon-alert-circle"></i>
    <i class="icon-activity"></i>
    <i class="icon-airplay"></i>
    <i class="icon-alert-circle"></i>
    <i class="icon-file-minus"></i>
    <i class="icon-file-plus"></i>
    <i class="icon-file-text"></i>


    <i class="icon-server"></i>
    <i class="icon-settings"></i>
    <i class="icon-share"></i>
    <i class="icon-share-2"></i>
    <i class="icon-shield"></i>
    <i class="icon-shield-off"></i>
    <i class="icon-shopping-bag"></i>
    <i class="icon-shopping-cart"></i>
    <i class="icon-shuffle"></i>
    <i class="icon-sidebar"></i>
    <i class="icon-skip-back"></i>
    <i class="icon-skip-forward"></i>

    <i class="icon-slack"></i>
    <i class="icon-slash"></i>
    <i class="icon-sliders"></i>
    <i class="icon-smartphone"></i>
    <i class="icon-type"></i>
    <i class="icon-unlock"></i>
    <i class="icon-user-minus"></i>
    <i class="icon-user-plus"></i>
    <i class="icon-user-x"></i>
    <i class="icon-wifi"></i>
    <i class="icon-youtube"></i>
    <i class="icon-classic-computer"></i>
    <i class="icon-heart"></i>
    <i class="icon-heart-outlined"></i>
    <i class="icon-heart2"></i>
    
    
    

  </div>
</div>